.top {
    color: azure;
    display: flexbox;
    text-align: center;
    animation: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top h1 {
    color: blue;
    display: inline-flexbox;
}

.logo {
    color: aliceblue;
    display: inline-flexbox;
}